<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="AddCategory" connectionString="https://localhost:7243/api/Category/AddCategory"/>
		<add name ="UpdateCategory" connectionString="https://localhost:7243/api/Category/UpdateCategory?id="/>
		<add name ="AddProduct" connectionString="https://localhost:7243/api/Product/AddProduct"/>
		<add name="UpdateProduct" connectionString="https://localhost:7243/api/Product/UpdateProduct?id="/>
	</connectionStrings>
</configuration>